<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
<typeAliases>
		<typeAlias type="multi.semi.main.ArticleVO" alias="article" />
		<typeAlias type="multi.semi.board.BoardVO" alias="board" />
		<typeAlias type="multi.semi.board.PagingVO" alias="paging" />
		<typeAlias type="multi.semi.login.LoginVO" alias="member" />
	</typeAliases>
</configuration>